<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optometry.plymouth.mrda">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainScreen"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".Stimuli_Canvas" />
        <activity android:name=".StimuliResultsActivity" />
        <activity
            android:name=".StimuliTabbedResults"
            android:label="@string/title_activity_stimuli_tabbed_results"
            android:parentActivityName=".MainScreen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.optometry.plymouth.mrda.MainScreen" />
        </activity>
        <activity
            android:name=".Results"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Instr"
            android:label="@string/title_activity_instr"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Welcome"
            android:label="DigitalAmsler"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseEye"
            android:label="@string/title_activity_choose_eye"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".AmslerStatic"
            android:label="@string/title_activity_amsler_static"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".DefectList"
            android:label="@string/title_activity_defect_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DrawingMainActivity"
            android:label="@string/title_activity_drawing_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".FaceCalibrationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChangeOrientation"
            android:label="@string/title_activity_change_orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VO_MainActivity" />
        <activity android:name=".VO_StimuliSize" />
        <activity android:name=".VO_StimuliCanvas"></activity>






    </application>

</manifest>